@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=JetBrains+Mono:wght@400;500;700&family=Battambang:wght@400;700&display=swap');
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Inter", "Battambang", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

@layer utilities {
  .print-exact {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}